
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  font-family: 'NanumSquare', sans-serif ;
}

a,
a:link,
a:active{ color: #fff; 
  text-decoration: none;
}

.background{
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 250px;
}


 .flower-img{
  position: absolute;
  top: -10px;
  left: 0px;
  opacity: 0.6;
} 

.flower{
  width: 40px;
  height: 40px;
  position: relative;
}

.flower-leaf{
  width: 50%;
  height: 50%;
  position: absolute;
  border-radius: 60%;
  background-color: transparent;
  overflow: hidden;
  top: 0px;
  left: 12.5%;
}

.flower-leaf:after{
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 100%;
  background: linear-gradient( to top, rgb(253, 88, 253), rgb(250, 199, 207));
  border-radius: 60%;
  position: relative;
  left: 50%;
}


/* ####################### Search #################### */
.search-box{ 
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 150px;
}
.search{
  width: 500px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.5s;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.logo{
  width: 50px;
  height: 60px;
  line-height: 60px;
  background-color: rgba(255,255,255,0.3);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255,255,255);
  transition: all 0.5s;
}

.search-text{
  width: 450px;
  height: 60px;
  line-height: 60px;
  border:0;
  outline: 0;
  background-color: rgba(255,255,255,0.3);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 8px;
  transition: all 0.5s;
}

.search-text::placeholder{
  color: rgb(255,255,255);
}

.search:hover .logo{
  background-color: rgba(255,255,255,0.5);
  /* color: rgb(10, 212, 10); */
}

.search:hover .search-text {
  background-color: rgba(255,255,255,0.5);

}

.search:hover {
  box-shadow: 3px 5px 5px rgba(0,0,0,0.2);
}


/* ####################### Bookmark #################### */


.bookmark,
.sites{
  width: 800px;
  height: 100px;
  margin: 30px auto;
}

.bookmark p,
.sites p{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;

}


.bookmark .box{
  width: 150px;
  height: 90px;
  line-height: 80px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.4);
  text-align: center;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.boxes{
  display: flex;
}
.boxes .box{
  width: 150px;
  height: 90px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.4);
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin: 0px 5px;
  transition: 0.5s;
  text-align: center;
  color: #fff;
  cursor: pointer;
}


.box:hover {
  background-color: rgba(255,255,255,0.6);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.3);

}

.icon{
  width: 40px;
  height: 40px;
  margin: 12px auto;

}

.icon img{
  width: 100%;
  display: block;
}

.site-name{
  font-size: 13px;
}


/* ####################### Setting #################### */

.setting{
  position:fixed;
  bottom: 30px;
  right: 20px;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding-right: 0px;
}

.weather,
.location,
.time{
  margin-right: 30px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: default;
  font-size: 15px;
}



/* ####################### Setting - to do list #################### */

.todo{
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  position:relative;
  cursor: pointer;
  text-align: center;
  margin-right: 30px;
  font-size: 15px;
}

.todo:hover{
  border: 1px solid rgba(255,255,255, 0.3);
  background-color: rgba(255,255,255,0.2);
  
}

.todobox{
  width: 500px;
  height: 400px;
  border-radius: 5px;
  color:#222;
  position: absolute;
  bottom: 40px;
  right: 150px;
  background-color: #eee;
  display: none;
}

.todobox.active{
  display: block;
}

.todobox h4{
  text-align: left;
  padding: 15px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todolist{
  height: 310px;
  max-height: 310px;
  list-style: none;
  padding: 10px 15px;
  overflow-y: scroll;
}

.todolist li{
  width: 450px;
  display: inline-block;
  flex-direction: row;
  height: 30px;
  line-height: 30px;
  padding-right: 8px;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
}

.todolist .list-line:hover {
  background-color: rgb(170, 170, 170, 0.5);
  cursor: pointer;
}

.todolist .list-line:hover .delete i{
  opacity: 1;
  cursor: pointer;
}

.todolist .checkbox{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border: 1px solid #888;
  background-color: transparent;
  margin-right: 8px;
  margin-top: 6px;
  text-align: center;
  transition: 0.3s;
}

.checkbox i{
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transition: 0.3s;
}


.todolist li .checkbox.active{
  background-color: rgb(3, 145, 3);
  border: 0;
}

.todolist li .checkbox.active i{
  opacity: 1;
}


.delete{
  float: right;
}
.delete i{
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}

.todotext{
  width: 100%;
  height: 42px;
  border: 0;
  outline: 0;
  background-color: rgb(170, 170, 170, 0.2);
  padding-left: 15px;
}
